extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            h1=item.title
            p= item.description 
            +videoBlock({
                id:item.id,
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            }) 